.logsbtncontainer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}
@media all and (max-width: 960px) {
  .logsbtncontainer {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1vh;
    
  }
     /* hiding scroll bar */
     .logsbtncontainer::-webkit-scrollbar {
      display: none;
      width: 0;
      height: 0;
  }
  .logsbtncontainer{
      scrollbar-width:none;
      -ms-overflow-style: none;

  }
}

