.fi-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 1vw;
  gap: 0.3vw;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 1vw;
  align-items: center;
}

.fi-container label {
  display: flex;
  align-self: start;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 1vw;
  margin-left: 4.6vw;
  margin-bottom: 0.3vw;
}

.programAmount-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 0.9vw;
  align-items: center;
  justify-content: space-between;
}

.contractorAmount-container {
  display: flex;
  align-items: center;
  justify-content: start;
}

.btn-container-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 27vw;
  margin-top: 2vh;
  height: 7vh;
}
@media all and (max-width: 480px) {

  .fi-container label {
  font-size: 3.5vw;
  }
  .btn-container-submit > .btn--large {
  font-size: 7vw;
  border-radius: 2vw;
  height: 7vh;
  }
 
}

@media all and (min-width: 481px) and (max-width: 768px) {
  .fi-container label {
  font-size: 3vw;
  }
  .btn-container-submit > .btn--large {
  font-size: 5vw;
  border-radius: 1.5vw;
  height: 10vh;
  }
}

@media all and (min-width: 769px) and (max-width: 960px) {
  .fi-container label {
    font-size: 2.5vw;
  }
  .btn-container-submit > .btn--large {
    font-size: 3vw;
    border-radius: 1vw;
    height: 12vh;
  }
}
@media all and (max-width: 960px) {
  .btn-container-submit{
  width: 80vw;
  }
  .fi-container {
  padding-bottom: 2vw;
  }
  .fi-container label {
    margin-bottom: 1vw;
  }
  .programAmount-container {
  padding-bottom: 2.4vw;
  }
}