.location-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 10px;
  justify-content: space-between;
  gap: 5px;
}

.addresses-container {
  display: flex;
  flex-direction: row;
  width: 70%;
  border: 2px solid #adafb3;
}

.address-flex-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.org-des-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  width: 100%;
}

.label-styles {
  color: #4b4646;
  font-family: sans-serif;
  font-size: smaller;
}

.address-styles {
  font-family: sans-serif;
  font-weight: 600;
  font-size: small;
}

.lat-lng-row {
  display: flex;
  flex-direction: row;
  width: 100px;
}

.lat-lng-color {
  color: #205eff;
  padding-right: 10px;
  font-size: small;
}

.eraser-icon {
  padding: 10px 10px 10px 0px;
  cursor: pointer;
}

.date-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-left: 1.2em;
}

.calendar-icon {
  display: flex;
  flex-direction: row;
  margin-top: 1.2rem;
  justify-content: center;
  align-items: center;
}

.calendarElement {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 100%;
  border: 1px solid #205eff;
  z-index: 10;
}

.date-group {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 0.5rem;
  justify-content: space-between;
  gap: 5px;
}

.autocomplete-wrapper {
  display: flex;
  flex-direction: column;
}

.date-wrapper {
  display: flex;
  flex-direction: column;
}

.description {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 10px;
  justify-content: space-between;
  gap: 5px;
}

.description > textarea {
  resize: none;
  border-radius: 10px;
  border: 2px solid #adafb3;
  padding-inline-start: 10px;
  padding-top: 10px;
}

.description > textarea:focus {
  border: 2px solid #205eff;
  outline: 0;
}

.description > textarea:hover {
  border-color: #205eff;
}

.default-btn-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
  gap: 10px;
  width: 70%;
}

@media all and (max-width: 960px) {
  .default-btn-container {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 100%;
  }
}
