.location-container {
  display: flex;
  flex-direction: column;
  width: 100%;

}

.addresses-container {
  display: flex;
  width: 27vw;
  margin-top: 1vw;
  border: 0.15vw solid #adafb3;
}
.addresses-wrapper{
  display: flex;
  width: 100%;
}

.address-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.org-des-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1vw;
  width: 18vw;
  height: -webkit-fill-available;
}

.label-styles {
  color: #808080;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 1vw;
}

.address-styles {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 1vw;
}

.lat-lng-row {
  display: flex;
  flex-direction: row;
  width: 100px;
}

.lat-lng-color {
  color: #205eff;
  padding-right: 1vw;
  font-size: 1vw;
}

.eraser-icon {
 display: flex;
 justify-content: end;
 padding: 0.5vw 0.5vw 0vw 0vw;
 font-size: 2vw;
 color: #205EFF;
 cursor: pointer;
 width: 100%;
}

.calendar-icon {
  display: flex;
  flex-direction: row;
  margin-top: 1.4vw;
  padding-left: 0.6vw;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.calendar-svg{
  font-size: 1.8vw;
  color: #205EFF;
}

.calendarElement {
  position: absolute;
  left: 66%;
  transform: translate(-50%);
  top: 100%;
  border: 1px solid #205eff;
  z-index: 10;
  width: 25vw;
}

.date-group {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.8vw;
  justify-content: space-between;
  gap: 1vw;
}

.autocomplete-wrapper {
  display: flex;
  flex-direction: column;
}

.date-wrapper {
  display: flex;
  flex-direction: column;
}


.description > textarea {
  resize: none;
  border-radius: 1vw;
  border: 0.15vw solid #adafb3;
  padding-inline-start: 0.8vw;
  padding-top: 10px;
  width: 27vw;
  height: 20vh;
  font-size: 1.2vw;
}

.description > textarea:focus {
  border: 0.1vw solid #205eff;
  outline: 0;
}

.description > textarea:hover {
  border-color: #205eff;
}

.default-btn-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 27vw;
  height: 7vh;
  margin-top: 1vw;
}
@media all and (max-width: 480px) {
  .label-styles,
  .address-styles {
  font-size: 4vw;
  }

  .lat-lng-color {
  font-size: 3vw;
  }
  .eraser-icon {
  font-size: 7vw;
  }
  .calendar-svg {
  font-size: 6vw;
  }
  .default-btn-container > .btn--large {
  font-size: 7vw;
  border-radius: 2vw;
  height: 7vh;
  }
}
@media all and (min-width: 481px) and (max-width: 768px) {
  .label-styles,
  .address-styles {
  font-size: 3.5vw;
  }
  .lat-lng-color {
  font-size: 2.5vw;
  }
  .eraser-icon {
  font-size: 6vw;
  }
  .calendar-svg {
  font-size: 5vw;
  }
  .default-btn-container > .btn--large {
  font-size: 5vw;
  border-radius: 1.5vw;
  height: 10vh;
  }
}
@media all and (min-width: 769px) and (max-width: 960px) {
  .label-styles, 
  .address-styles {
    font-size: 3vw;
  }
  
  .lat-lng-color {
    font-size: 2vw;
  }
  .eraser-icon {
   font-size: 5vw;
  }
  .calendar-svg {
    font-size: 4vw;
  }
  .default-btn-container > .btn--large {
    font-size: 3vw;
    border-radius: 1vw;
    height: 12vh;
  }
}


@media all and (max-width: 960px) {
  .default-btn-container {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 80vw;
  }
  .calendar-svg {
  padding-left: 1vw;
  padding-top: 4.2vw;
  }
  .addresses-container {
  width: 80vw;
  margin-top: 3vw;
  background-color: white;
  }
  .org-des-column {
    width: 50vw;
  }
}

