.create-account-form {
  display: flex;
  flex-direction: column;
  width: 40vw;
  align-items: center;
  background-color: #ffffff;
  padding: 3vw 5vw 3vw 5vw;
  border-radius: 2vw;
}

.err {
  color: #f85d43;
  width: 100%;
  animation: shake 0.1635s 0s 3;
}

.ca-title {
  width: 100%;
  display: flex;
  align-items: flex-start;
  font-weight: 600;
  font-size: 2.1vw;
  padding: 2vw 2vw 2vw 0vw;
}

.ca-bck-btn {
  display: none;
}

.ca-input-field {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 0.3vw;
  padding: 0.5vw;
}

.ca-input-field > input {
  width: 100%;
  height: 3.5vw;
  resize: none;
  border-radius: 0.4vw;
  border: 1.7px solid #605f5f;
  padding-inline-start: 1vw;
  font-size: 1vw;
}

.ca-input-field > input:focus {
  border: 1.7px solid #205eff;
  outline: 0;
}

.ca-input-field > label {
  font-size: 1vw;
  font-weight: 600;
}

.ca-account-type {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2vw;
}

.at-title {
  width: 100%;
  display: flex;
  align-items: flex-start;
  font-weight: 600;
  font-size: 1.2vw;
}

.radio-btn-group {
  display: flex;
  flex-direction: row;
}

.radio-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 45%;
  padding-top: 2vw;
  gap: 1vw;
  font-size: 1.3vw;
}

.custom-rb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.1vw;
  height: 2.1vw;
  border: 0.1vw solid;
  border-color: #648df5;
  border-radius: 1.5vw;
  cursor: pointer;
}

.custom-rb .checkmark {
  width: calc(100% - 0.6vw);
  height: calc(100% - 0.6vw);
  border-radius: 50%;
  background-color: #205eff;
  display: inline-block;
  opacity: 0;
  transition: opacity 0.5s ease;
  cursor: pointer;
}

.custom-rb > input {
  display: none;
}

.custom-rb > input:checked + .checkmark {
  opacity: 1;
}

.ca-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2vw;
}

.form-backIcon {
  display: none;
}

@media all and (max-width: 960px) {
  .create-account-form {
    width: 100%;
    height: 100%;
    border-radius: 0;
    overflow: hidden;
    overflow-y: scroll;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .create-account-form::-webkit-scrollbar {
    display: none;
  }

  .ca-title {
    font-size: 8vw;
    margin-bottom: 10vw;
    gap: 3vw;
    display: flex;
    justify-content: space-between;
  }

  .ca-input-field {
    width: 100%;
    gap: 1vw;
    padding: 2vw 2vw 2vw 2vw;
  }

  .ca-input-field > input {
    height: 14vw;
    border-radius: 1vw;
    padding-inline-start: 3vw;
    font-size: 4vw;
  }

  .ca-input-field > label {
    font-size: 4vw;
  }

  .ca-account-type {
    padding: 10vw 5vw 5vw 2vw;
    margin-bottom: 10vw;
  }

  .at-title {
    font-size: 5vw;
  }

  .radio-btn {
    padding-top: 10vw;
    gap: 4vw;
    font-size: 4.4vw;
  }

  .radio-btn-group {
    gap: 5vw;
  }

  .custom-rb {
    width: 8vw;
    height: 8vw;
    border: 0.5vw solid;
    border-color: #648df5;
    border-radius: 4vw;
  }

  .custom-rb .checkmark {
    width: calc(100% - 2vw);
    height: calc(100% - 2vw);
  }

  .ca-button {
    margin-bottom: 10vw;
  }

  .ca-bck-btn {
    display: flex;
    font-size: 8.5vw;
    color: #9b959e;
    border-radius: 50%;
  }

  .ca-bck-btn:hover {
    color: white;
    background-color: #605f5f;
  }
}
