.map-container {
  height: 100vh;
  width: 100%;
  position: relative;
}

.mapContainerStyle {
  width: 100%;
  height: 100%;
}

.nav-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 4%;
  bottom: 30%;
  left: 95%;
}

.info-window-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.iw-icons-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcb712;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.window-icons {
  width: 100%;
  height: 3em;
}

.window-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.iw-line {
  height: 1px;
  width: 100%;
  margin-bottom: 10px;
}

.address-title {
  margin-bottom: 5px;
  font-weight: 100;
  color: #272626;
  width: 100%;
}

.latlng-container {
  color: #6f6f6f;
  font-weight: 50;
  width: 100%;
}

.nav-container {
  z-index: 1;
}
