.progress-update {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 150px;
  margin: 0 auto;
}

.stp {
  text-align: center;
}

.crcle {
  border: 1px solid #d1d3d6;
  height: 24px;
  width: 24px;
  border-radius: 100%;
  color: #205eff;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 15px;
  background: #d1d3d6;
  display: inline-block;
  position: relative;
  transition: background-color 500ms;
  line-height: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.slected.crcle {
  color: white;
  background-color: #205eff;
  border: 1px solid #205eff;
  transition: all 1s ease-out;
}

.cmpleted.crcle {
  color: white;
  background-color: #205eff;
}

.uncmplete.crcle::after {
  content: "";
  position: absolute;
  right: -48px;
  bottom: 10px;
  height: 2px;
  width: 45px;
  background-color: #d1d3d6;
}

.cmpleted.crcle::after {
  content: "";
  position: absolute;
  right: -48px;
  bottom: 10px;
  height: 2px;
  width: 45px;
  background-color: #205eff;
  transition: all 1s ease-out;
}

.crcle-text {
  margin-top: 10px;
  color: #8e939a;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 13px;
}

@media all and (max-width: 600px) {
  .progress-update {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 140px;
    margin: 0 auto;
  }
  .crcle-text {
    margin-top: 5px;
    color: #8e939a;
    font-family: Helvetica;
    font-weight: 500;
    font-size: 13px;
  }
  .uncmplete.crcle::after {
    content: "";
    position: absolute;
    right: -44px;
    bottom: 10px;
    height: 2px;
    width: 40px;
    background-color: #d1d3d6;
  }

  .cmpleted.crcle::after {
    content: "";
    position: absolute;
    right: -44px;
    bottom: 10px;
    height: 2px;
    width: 40px;
    background-color: #205eff;
    transition: all 1s ease-out;
  }
}
