
.LongCardFlex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}
.wrapperlong{
    display: flex;
    align-items: center;
    justify-items: center;
}
.cnl,.dataTitle{
    font-size: 0.8vw;
    font-weight: bold;
    color:black;
    text-align: center;
 
}

.percentageData{
    font-size: 1.5vw;
    font-weight: bold;
}
.ellipse {
    width: .8vw;
    height: .8vw;
    border-radius: .4vw;
    background-color: #3781F1;
}
.datacln{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width:60em){

    .LongCardFlex{
        display: flex;
        flex-direction: column;
    }
    .cnl,.dataTitle{
        font-size: 2.5vw;
    }
    .percentageData{
        font-size: 12vw;
    }
    .ellipse {
        width: 2vw;
        height: 2vw;
        border-radius: .8vw;
    }
}