
.location-container label {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 1vw;
  margin-bottom: 0.3em;
  display: flex;
  align-self: flex-start;

}
.autocomplete-wrapper {
  display: flex;
  flex-direction: column;
}

.date-container {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  width: 100%;
}

.date-container label {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 1vw;
  margin-bottom: 0.3em;
}

.date-group {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 75%;
  padding: 0;
  justify-content: space-between;
  gap: 5px;
}

.date-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 0.8vw;
  width: 100%;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 1.2vw;
  margin-top: 1vw;
}
.form-wrapper{
padding-left: 5vw;
display: flex;
flex-direction: column;
width: 100%;

}
.description-wrapper{
  display: flex;
  width: 100%;
}

.description label {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 1vw;
  margin-bottom: 0.3em;
}

.rdrCalendarWrapper {
  font-size: 0.8vw;
  }
.rdrMonthAndYearPickers select {
    font-size: 1.2vw;
}
.btn-container-next {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 27vw;
  margin-top: 2vh;
  height: 7vh;
}
.rdrMonth{
  width: 100%;
  font-size: 0.8vw;
}
@media all and (max-width: 480px) {
  .location-container label, 
  .date-container label,
  .description label {
    font-size: 3.5vw;
  }
  .description > textarea {
    font-size: 4vw;
  }
  .btn-container-next > .btn--large{
    font-size: 7vw;
    border-radius: 2vw;
    height: 7vh;
  }

}

@media all and (min-width: 481px) and (max-width: 768px) {
  .location-container label, 
  .date-container label,
  .description label {
    font-size: 3vw;
  }
  .description > textarea {
    font-size: 3.5vw;
  }
  .btn-container-next > .btn--large{
    font-size: 5vw;
    border-radius: 1.5vw;
    height: 8vh;
  }
}

@media all and (min-width: 769px) and (max-width: 960px) {
  .location-container label, 
  .date-container label,
  .description label {
    font-size: 2.5vw;
  }
  .description > textarea {
    font-size: 3vw;
  }
  .btn-container-next > .btn--large{
    font-size: 5vw;
    border-radius: 1vw;
    height: 10vh;
  }
}

@media all and (max-width: 960px) {
 
  .rdrMonth{
  width: 100%;
  font-size: 3.5vw;
  }
  .rdrMonthAndYearPickers select {
    font-size: 4vw;
  }
  .autocomplete-wrapper {
  flex-direction: column;
  }
  .rdrCalendarWrapper {
    font-size: 3.3vw;
    height: 22.5em;
    width: 80vw;

  }
  .description > textarea {
    width: 100%;
  }
  .date-wrapper {
  display: flex;
  flex-direction: column;
  }
  .description {
    width:80vw;
  }
  .btn-container-next {
    width: 80vw;
  }
  .form-wrapper{
    padding-bottom: 30%;
    }
}

