
.location-container label {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 1vw;
  margin-bottom: 0.3em;
  display: flex;
  align-self: flex-start;

}
.autocomplete-wrapper {
  display: flex;
  flex-direction: column;
}

.date-container {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  width: 100%;
}

.date-container label {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 1vw;
  margin-bottom: 0.3em;
}

.date-group {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 75%;
  padding: 0;
  justify-content: space-between;
  gap: 5px;
}

.date-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 0.8vw;
  width: 100%;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 1.2vw;
  margin-top: 1vw;
}
.form-wrapper{
padding-left: 5vw;
display: flex;
flex-direction: column;
width: 100%;

}
.description-wrapper{
  display: flex;
  width: 100%;
}

.description label {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 1vw;
  margin-bottom: 0.3em;
}

.calendarElement {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 100%;
  border: 1px solid #205eff;
  z-index: 10;
}
  .rdrCalendarWrapper {
  font-size: 0.8vw;
  }
.rdrMonthAndYearPickers select {
    font-size: 1.2vw;
}
.btn-container-next {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 27vw;
  margin-top: 2vh;
  height: 7vh;
}
.rdrMonth{
  width: 100%;
  font-size: 0.8vw;
}

@media all and (max-width: 600px) {
  .location-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    padding: 10px;
    justify-content: space-between;
    gap: 5px;
  }

  .autocomplete-wrapper {
    display: flex;
    flex-direction: column;
  }
.rdrMonthAndYearPickers select {
    font-size: 4vw;
}

  .date-group {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5em;
    justify-content: space-between;
    gap: 5px;
  }

  .date-wrapper {
    display: flex;
    flex-direction: column;
  }

  .description {
    display: flex;
    flex-direction: column;
    width: 95%;
    padding: 10px;
    justify-content: space-between;
    gap: 5px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 12px;
  }

  .calendarElement {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 100%;
    border: 1px solid #205eff;
    z-index: 10;
  }
  .rdrCalendarWrapper {
    font-size: 3.2vw;
    height: 22.5em;
  }

  .btn-container-next {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 100%;
  }
  .rdrMonth{
  width: 100%;
  font-size: 3.5vw;
}
}
