.update-report-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 3vw 5vw 4vw 5vw;
  border-radius: 15px;
  width: 40vw;
}

.up-title {
  display: flex;
  align-items: flex-start;
  font-weight: bold;
  font-size: 2vw;
  color: black;
}

.header-f {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1vw 1vw 1vw 0vw;
  justify-content: flex-start;
  align-items: center;
  gap: 1vw;
}

.back-b {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
  color: #9b959e;
}

.ui-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.2vw;
  padding: 0.2vw;
}

.ui-field > input {
  width: 100%;
  height: 3.5vw;
  resize: none;
  border-radius: 0.5vw;
  border: 0.1vw solid #605f5f;
  padding-inline-start: 10px;
  font-size: 1vw;
}

.ui-field > input:focus {
  border: 1.7px solid #205eff;
  outline: 0;
}

.ui-field > label {
  font-size: 1vw;
  font-weight: 600;
  color: black;
}

.d-wrap {
  position: relative;
  width: 100%;
}

.calendarUpdate {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 90%;
  border: 0.1vw solid #205eff;
  z-index: 10;
  height: fit-content;
  width: 95%;
  font: 1vw;
}

.update-description {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.2vw;
  padding: 0.2vw;
}

.update-description > textarea {
  resize: none;
  border-radius: 0.5vw;
  border: 0.1vw solid #605f5f;
  padding-inline-start: 10px;
  padding-top: 1vw;
  height: 10vw;
  font-size: 1vw;
}

.update-description > p {
  font-size: 1vw;
  font-weight: 600;
  color: black;
}

.update-description > textarea:focus {
  border: 1px solid #205eff;
  outline: 0;
}

.update-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5vw;
}

.spce-gap {
  margin-top: 2vw;
}

.f-gap {
  margin-top: 1.5vw;
}

.ub-gap {
  margin-top: 1.5vw;
}

@media all and (max-width: 960px) {
  .update-report-form {
    height: 100%;
    width: 100%;
    border-radius: 0px;
  }

  .header-f {
    gap: 5vw;
    padding-bottom: 5vw;
  }

  .up-title {
    font-size: 8vw;
  }

  .back-b {
    font-size: 7vw;
  }

  .ui-field {
    gap: 1vw;
    padding: 1vw 0vw 1vw 0vw;
  }

  .ui-field > input {
    height: 12vw;
    font-size: 3vw;
    border-radius: 1.5vw;
    padding-inline-start: 3vw;
  }
  .ui-field > label {
    font-size: 3.5vw;
  }

  .update-description {
    gap: 1vw;
    /* padding: 0.2vw; */
  }

  .update-description > textarea {
    border-radius: 1.5vw;
    font-size: 3vw;
    height: 35vw;
    padding-top: 3.5vw;
    padding-inline-start: 3.5vw;
  }

  .update-description > p {
    font-size: 3.5vw;
    font-weight: 600;
    color: black;
  }

  .f-gap {
    margin-top: 5vw;
  }

  .ub-gap {
    margin-top: 12vw;
  }

  @media all and (min-height: 480px) {
    .update-report-form {
      overflow: hidden;
      overflow-y: scroll;
      /* Hide scrollbar for IE, Edge and Firefox */
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    .update-report-form::-webkit-scrollbar {
      display: none;
    }

    .update-button {
      padding-bottom: 20vw;
    }
  }
}
