.vectorContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  gap: 3vw;
  height: 100%
}

.nav-icon>p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5vw;
  color:#717073;
}


.nav-icon>p:active{
  color:#3B71FF;
}

.nav-icon{
  position: relative;
}


a:hover {
  opacity: 0.7;
}

a:active {
opacity: 1;
}

#active{
  color:#3B71FF;
}

@media all and (max-width: 960px) {

  .vectorContainer{
    display: flex;
    flex-direction: row;
    gap:17vw;
  }
}
@media all and (max-width: 480px) {
  .nav-icon>p{
    font-size: 12vw;
  }
}

@media all and (min-width: 481px) and (max-width: 768px) {
  .nav-icon>p{
    font-size: 10vw;
  }
}
@media all and (min-width: 769px) and (max-width: 960px) {
  .nav-icon>p{
    font-size: 8vw;
  }
}
