.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -4px 4px rgb(0 0 0 / 20%);
  z-index: 2;
}


.btn-popup {
  position: absolute;
  top: 3%;
  right: 3%;
  cursor: pointer;
  z-index: 10;
  color: #d1d3d6;
  font-size: 2vw;
}
.btn-popup:hover {
  color: #d1d3d6;
}
@media all and (max-width: 480px) {
  .btn-popup {
    font-size: 6vw;
  }
}
@media all and (min-width: 481px) and (max-width: 768px) {
  .btn-popup {
    font-size: 5vw;
  }

}
@media all and (min-width: 769px) and (max-width: 960px) {
  .btn-popup {
    font-size: 4vw;
  }
}

@media all and (max-width: 960px) {
 
  .popup-container {
    top: 35%;
    height: 70vh;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
}
