.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.btn-popup {
  position: absolute;
  top: 3%;
  right: 10%;
  cursor: pointer;
  z-index: 10;
  color: #d1d3d6;
}
.btn-popup:hover {
  color: #d1d3d6;
}

@media all and (max-width: 960px) {
  .btn-popup {
    display: none;
  }
}
