.search-results:focus{
  border: 2px solid #205eff;
  outline: 0;
}

.search-results:hover{
  border: 2px solid #205eff;
}

.item-img{
  font-size: 2vw;
  margin-right: -0.8vw;
  padding-right: 0.8vw;
}
