.progress-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 10.8vw;
}
.progress-number{
  font-size: 1.2vw;
}

.step {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 5vw;
}

.circle {
  border: 1px solid #d1d3d6;
  height: 2vw;
  width: 2vw;
  border-radius: 1vw;
  color: #205eff;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 1vw;
  background: #d1d3d6;
  display: inline-block;
  position: relative;
  transition: background-color 500ms;
  line-height: 2vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.selected.circle {
  color: white;
  background-color: #205eff;
  border: 1px solid #205eff;
  transition: all 0.1s ease-out;
}

.completed.circle {
  color: white;
  background-color: #205eff;
}

.uncomplete.circle::after {
  content: "";
  position: absolute;
  right: -3.7vw;
  bottom: 0.8vw;
  height: 0.16vw;
  width: 3.4vw;
  background-color: #d1d3d6;
}

.completed.circle::after {
  content: "";
  position: absolute;
  right: -3.7vw;
  bottom: 0.8vw;
  height: 0.16vw;
  width: 3.4vw;
  background-color: #205eff;
  transition: all 0.6s ease-out;
}

.circle-text {
  margin-top: 1vw;
  color: #8e939a;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 1.2vw;
  width: 6vw;
}

@media all and (max-width: 600px) {
  .progress-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 140px;
    margin: 0 auto;
  }
  .circle-text {
    margin-top: 5px;
    color: #8e939a;
    font-family: Helvetica;
    font-weight: 500;
    font-size: 13px;
  }
  .uncomplete.circle::after {
    content: "";
    position: absolute;
    right: -44px;
    bottom: 10px;
    height: 2px;
    width: 40px;
    background-color: #d1d3d6;
  }

  .completed.circle::after {
    content: "";
    position: absolute;
    right: -44px;
    bottom: 10px;
    height: 2px;
    width: 40px;
    background-color: #205eff;
    transition: all 1s ease-out;
  }
}
