*{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}

.main-grid{
    display: grid;
    grid-template-columns: 0.7fr 0fr 1fr ;
    grid-template-areas: "log wave svg";
    height: 100vh;
}

.login-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: #FFFFFF;
    grid-area: log;
}

.wrap-container{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    row-gap: 25px;
}

.title{
    width: 100%;
    font-family: sans-serif;
    font-size: x-large;
}


.login{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0px

}

.wrapper > label{

    text-align: start;
    color: #999999;
    font-family: sans-serif;
    font-size:smaller;
    margin: 5px;


}

.wrapper > input{
    height: 2.5rem;
    padding-inline-start: 10px;
    border-radius: 10px;
    border: 2px solid #ADAFB3;
}

.check-container{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;

}
.check-container input{
    cursor: pointer;
    
}

.check-container label {
    color: #999999;
}

.btn-container{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
}



.wave-container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #F0F0F9;
    grid-area: wave;
}
.mobile-container{
    width: 50%;
    display: none;
}

.svg-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F9;
    grid-area: svg;

}

.header{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: left;
}
.logo{
    width: 4vw;
    height:4vh;
}
.qcPic{
    width: fit-content;
    height: 5em;
    
}
.qcFont{
    
    font-size: 2vw;
    font-weight: bold;
    color:rgb(12, 133, 255);
    margin-right: 50px;
    margin-left: 8px;
    align-items: center;
    display: inline-flex;

}

.svg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.svg img{
    width: 40%;
    
}

@keyframes shake{
    0%, 100% {transform: translateX(0);}
    25% {transform: translateX(8px);}
    75% {transform: translateX(-8px);}
}


.validation{
    position: absolute;
    top: 65%;
    right: .5rem;
    transform: translate(5rem, -50%);

    color:#f85d438c ;
    font-weight: bolder;
    font-size: 14px;
    font-family: "Varela Round", sans-serif;

    visibility: hidden;

    transition: all 0.35s;
    
}

input:valid {
  border-color:#ADAFB3;
}
input:invalid {border-color: #f85d43;}
input:invalid ~ .validation{
    transform: translate(0, -50%);
    visibility: visible;
}

.err{
    margin-top: 1rem;
    margin-left: 0.2rem;
    color: #f85d43;
    width: 100%;
    animation: shake 0.1635s 0s 3;
}
@media only screen and (max-width:600px){
    body{
        width: 100%;
        min-height: 100vh;
        overflow: scroll;
        margin: 0;
    }  

   
    .main-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.7fr 0.3fr 1fr;
        grid-template-areas: 
        "end"
        "middle"
        "start ";
        height: 100vh;
        width: 100%;
        
    }
    .login-container{
        width: auto;
        height: auto;
        grid-area: start;
       
        
    }
    .wrap-container{
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        row-gap: 25px;
    }
    
    .mobile-container{
        margin: 0;
        width: 100%;
        height: 100%;
        display: flex;
        grid-area: middle;
        background-color: white;
       
   }
   .svg-container{
         width: 100%;
         min-height:auto;
         margin:0;
         grid-area: end;
   }
   .wave2{
    display:flex;
    width: fit-content;   
   }

   .header{
    display: none;
    }
    .qcFont{
    display: none;
    }

    .wave-container{
    display: none;
    }
    .svg{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin: 0;
        padding: 0;
    
    }
    .validation{
        position: absolute;
        top: 65%;
        right: .5rem;
        transform: translate(5rem, -50%);
        opacity: 0;
        font-size: 14px;

        color:#f85d438c ;
        font-weight: bolder;
        font-family: "Varela Round", sans-serif;
        transition: all 0.35s;
        
}


}
