.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-closed {
  position: absolute;
  top: 10%;
  right: 19%;
  cursor: pointer;
  z-index: 10;
  color: #d1d3d6;
}

.btn-closed:hover {
  color: #ffff;
}

@media all and (max-width: 960px) {
  .btn-closed {
    display: none;
  }
}
