
.LongCardFlex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}
.wrapperlong{
    display: flex;
    align-items: center;
    justify-items: center;
}
.cnl,.dataTitle{
    font-size: 0.5em;
    font-weight: bold;
    color:black;
    text-align: center;
 
}

.percentageData{
    font-size: 1.5em;
    font-weight: bold;
}
.ellipse {
    width: .8em;
    height: .8em;
    border-radius: .4em;
    background-color: #3781F1;
}
.datacln{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.color1{
    background-color:#3781F1;
}
.color2{
    background-color:#52CFFF;
}
.color3{
    background-color:#E3E3E8;
}
@media only screen and (max-width:500px){

    .LongCardFlex{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 100%;
    }
    .percentageData{
        font-size: 2.5em;
        font-weight: bold;
    }
}
