:root {
  --primary: #0c85ff;
  --secondary: #37b9f1;
  --white: #ffffff;
  --none: none;
  --orange: #fa976c;
  --yellow: #ffe683;
  --alligator: #ffd800;
  --deepYellow: #ffc845;
  --kowloon: #dfe15b;
  --softBlue: #8ad5dd;
  --superBlue: #205eff;
  --grey: #8b8484;
  --red: #e72323;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn-img {
  height: 40px;
  width: 40px;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border-radius: 0.5vw;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn:hover {
  transform: translateY(-2px);
}

.icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

/* Icon Background Colors */

.orangeBg {
  background-color: var(--orange);
}

.yellowBg {
  background-color: var(--yellow);
}

.alligatorBg {
  background-color: var(--alligator);
}

.deepYellowBg {
  background-color: var(--deepYellow);
}

.kowloonBg {
  background-color: var(--kowloon);
}

.softBlueBg {
  background-color: var(--softBlue);
}

/* Button Colors and Styles */

.btn--primary {
  background-color: var(--primary);
  color: var(--white);
  border: none;
}

.btn--secondary {
  background-color: var(--secondary);
  color: var(--white);
  border: none;
}

.btn--categories,
.btn--logs-design {
  background-color: var(--white);
  color: var(--grey);
  border: none;
}

.btn--selector {
  background-color: var(--white);
  color: var(--white);
  border: none;
}

.btn--superBlue {
  background-color: var(--superBlue);
  color: var(--white);
  border: none;
}

.btn--grey {
  background-color: var(--grey);
  color: var(--white);
  border: none;
}

.btn--red {
  background-color: var(--red);
  color: var(--white);
  border: none;
}

/* Button Sizes */

.btn--large {
  padding: 1vw;
  font-size: 1.4vw;
  width: 100%;
  height: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn--medium {
  padding: 0.4vw;
  font-size: 1.2vw;
  border-radius: 0.5vw;
  min-width: 6vw;
  min-height: 3vw;
}

.btn--small {
  height: 100%;
  width: 100%;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
}

.btn--logs,
.btn--logs2 {
  font-size: 0.74vw;
  min-height: 5vh;
  min-width: 100%;
  font-weight: bold;
  border-radius: 1em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  color: #9b959e;
}
.btn--logs2 {
  padding-right: 2.35vw;
  padding-left: 2.35vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  width: 100%;
  height: 100%;
}

.btn--logs {
  padding-right: 0.4vw;
}

.for-icons {
  margin: 0;
  padding: 0;
}

.btn--next {
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 12px;
  font-weight: bold;
}

.btn--reports {
  display: flex;
  justify-content: space-evenly;
  height: 2.6rem;
  width: 100%;
  padding: 5px;
  font-size: 0.6em;
  font-weight: bold;
}

.btn--cancel,
.btn--delete {
  height: 3vw;
  width: 100%;
  padding: 1vw;
  font-size: 1.3vw;
  font-weight: bold;
  border-radius: 0.5vw;
}

.for-icons img {
  width: 0%;
  margin-right: 0px;
}

/* Tablet View */
@media all and (max-width: 960px) {
  .btn--reports {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 5px;
    font-size: 0.6em;
    color: #626060;
    font-weight: bold;
  }
  /* forms next button for mobile view */
  .btn--next {
    width: 100%;
    height: 100%;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    font-weight: bold;
  }

  .btn--secondary {
    background-color: var(--primary);
    color: var(--white);
    border: none;
  }
  .btn--logs,
  .btn--logs2 {
    min-height: 100%;
    min-width: 100%;
  }

  .btn--medium {
    border-radius: 1.5vw;
  }
  .btn--logs{
    padding-right: 0.3vw;
  }
    
  }

@media all and (max-width: 420px) {
  .btn--logs2,
  .btn--logs {
    font-size: 3.5vw;
    border-radius: 3vw;
  }
  .btn--logs2 {
    padding-right: 10vw;
    padding-left: 10vw;
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
  }
     .btn--logs{
      padding: 0.5vw;
     }
  
     .btn--medium {
      padding: 2.5vw;
      font-size: 3.5vw;
      min-width: 19vw;
      min-height:3vw ;

    }
  
}

  
/* report buttons for small mobile view */
@media all and (min-width: 421px) and (max-width: 480px) {
  /* forms next button for mobile view */
  .btn--next {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    font-weight: bold;
  }
  .btn--logs2,
  .btn--logs {
    font-size: 2vw;
    border-radius: 3vw;
  }
  .btn--logs2 {
    padding-right: 8.5vw;
    padding-left: 8.5vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
  }
  .btn--logs {
    padding: 1vw;
  }

  .btn--medium {
    padding: 2vw;
    font-size: 2.5vw;
    min-height: 7vw;
    min-width: 17vw;
  }



}

/* report buttons for Mobile View */
@media all and (min-width: 481px) and (max-width: 599px) {
  .btn--categories {
    background-color: var(--none);
    color: var(--grey);
    box-sizing: border-box;
    border: none;
  }

  .btn--reports {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 5px;
    font-size: 0.6em;
    color: #626060;
    font-weight: bold;
  }

  /* forms next button for mobile view */
  .btn--next {
    width: 90%;
    height: 90%;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    font-weight: bold;
  }
  .btn--logs {
    padding: 0.5vw;
  }
  .btn--logs2,
  .btn--logs {
    font-size: 2.3vw;
    border-radius: 1.8vw;
  }
  .btn--logs2 {
    padding-right: 7.5vw;
    padding-left: 7.5vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
  }

  .btn--medium {
    padding: 1.5vw;
    font-size: 2.5vw;
    min-height: 7vw;
    min-width: 17vw;
  }


}
@media all and (min-width: 600px) and (max-width: 768px) {
  .btn--logs2,
  .btn--logs {
    font-size: 2vw;
    border-radius: 1.8vw;
  }
  .btn--logs2 {
    padding-right: 7.1vw;
    padding-left: 7.1vw;
    padding-top: 1.2vw;
    padding-bottom: 1.2vw;
  }
     .btn--logs{
      padding: 0.5vw;
     }
  
     .btn--medium {
      padding: 1vw;
      font-size: 2.5vw;
      min-height: 5vw;
      min-width: 13vw;
    }
  
  }


@media all and (min-width: 769px) and (max-width: 960px) {
  .btn--logs2,
  .btn--logs {
    font-size: 1.5vw;
    border-radius: 1vw;
   }
   .btn--logs2{
    padding-right: 6vw;
    padding-left: 6vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
  }
  .btn--logs {
    padding: 0.2vw;
    padding-right: 1vw;
   }

  .btn--medium {
    padding: 1vw;
    font-size: 2vw;
    min-height: 2vw;
    min-width: 10vw;
  }
 
}

/* Putangina wag gagalawin tong breakpoint na to 
hindi ito para sa inyo! -Mccoy*/
/* Delete and Cancel Button for only logs_info page*/
@media all and (max-width: 960px) {
  .btn--cancel,
  .btn--delete {
    height: 9vw;
    font-size: 3vw;
  }

  .btn--large {
    padding: 4vw;
    font-size: 5vw;
    width: 100%;
    height: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    border-radius: 2vw;
  }
}
