.dropdown-card{
    width: 250px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgb(0 0 0 / 15%);
    padding: 1rem;
    border-radius: 8px;
}

.dropdown{
  position:absolute;
  right: 4.4vw;
  top: 23vh;
}


.dropdown-left{
  position:absolute;
  left: 8vw;
  top: 57vh;
}

.dropdown-left::before{
    position: absolute;
    left: -1em;
    top: 1.5em;
    display: inline-block;
    border-top: 9px solid transparent;
    border-right: 9px solid #ffffff;
    border-bottom: 9px solid transparent;
    border-left: 9px solid transparent;
    content: '';
}

.dropdown::before{
    position: absolute;
    right: -1em;
    top: 1.5em;
    display: inline-block;
    border-top: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 9px solid #ffffff;
    content: '';
}


.menu-item{
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    transition: background-color var(--speed);
    padding-left: 15px;
}

.menu-item > p {
    color:#716777;
    font-weight: bold;
}

.drop-icon{
  margin-right: 0.5em;
  font-size: 1em;
}

.menu-item:hover{
    background-color:#f0f0f9;
}
