.logsInfo {
  display: flex;
  position: relative;
  height: 100vh;
  width: 100%;
}

.info-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 20%;
  background-color: #ffff;
  padding: 30px;
  font-family: "Inter";
}

.bck-cont {
  width: 100%;
  padding: 0px 0px 20px 0px;
}

.fa-arrow-left {
  font-size: 1.9vw;
  color: #9b959e;
  cursor: pointer;
}

.fa-arrow-left:hover {
  color: rgb(210, 206, 206);
}

.info-title {
  font-size: 0.8vw;
  width: 100%;
  margin-bottom: 30px;
  border-bottom: 1px solid #7f7f82;
}

.info-title > p {
  font-size: 1.5vw;
  color: #464647;
}

.default-li {
  width: 100%;
  color: #464647;
  text-align: justify;
  overflow: hidden;
  overflow-y: scroll;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.default-li::-webkit-scrollbar {
  display: none;
}

.default-li .sm-titles {
  padding: 10px 10px 10px 0px;
  font-size: 1.1vw;
  list-style-type: none;
  font-weight: bold;
}

.li-d {
  display: flex;
  flex-direction: column;
  font-size: 1vw;
  padding: 5px 5px 5px 0px;
}

.peso-sign {
  font-weight: 600;
  font-size: 1.1vw;
}

.map-cont {
  height: 100%;
  width: 80%;
}

.mapContainerStyle {
  width: 100%;
  height: 100%;
}
