.cardBox {
  background-color: #ffffff;
  overflow: hidden;
  box-shadow: 0px 0px 4px -5px;
  transition: 0.3s;
  animation: ease-in;
}

/*card sizes*/

.card{
    min-width: 100%;
    min-height: 100%;
    border-radius: 1vw;
}
.card--main-nav {
    width: 60%;
    height: 100%;
    border-radius: .5em;
  }
  .nav--bar{
    border-radius: 1vw;
  }
  @media all and (min-width:320px) and (max-width: 480px) {
 
    .card{
      border-radius: 3.5vw;
    }
    .nav--bar{
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      top:90vh;
      box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.2);
  }
    }
  @media all and (min-width: 481px) and (max-width: 768px) {
    .card{
      border-radius: 3.5vw;
    }
    .nav--bar{
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      top:85vh;
      box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.2);
  }
 
  }


@media all and (min-width: 769px) and (max-width: 960px) { 
  .nav--bar{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top:88vh;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.2);
}
 
}