.cardBox {
  background-color: #ffffff;
  overflow: hidden;
  box-shadow: 0px 0px 4px -5px;
  transition: 0.3s;
  animation: ease-in;
}

/*card sizes*/

.card{
    min-width: 100%;
    min-height: 100%;
    border-radius: 1vw;
}
.card--main-nav {
    width: 60%;
    height: 100%;
    border-radius: .5em;
  }

@media only screen and (max-width: 60em){

  .card{
    border-radius: 3.5vw;
}
    .mobile--nav{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        top:90vh;
        box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.2);
    }
   
}
