
.logscardData{
    height:100%;
    border-radius: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding-left:2em;
    background: #FFFFFF;
    cursor: pointer;
   
   
}

.city{
    font-size: 1.1vw;
    padding-bottom: 0.3em;
    color:#6F6F6F;
    font-weight: bold
}
.address{
    font-size: 1vw;
    padding-bottom: 0.3em;
    color:#6F6F6F;
    font-weight: 300;
    
}
.iconsImg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vw;
}

.iconImgCon{
    padding-right: 0.75em;
}

.addressContainer{

    display: flex;
    flex-direction: column;
    
}

.activitylog{
display: flex;
    flex-direction: column;
}

@media all and (max-width: 690px) {
    
    .logscardData{
        border-radius: 10px;
    }

}
@media all and (max-width: 429px) {

    .iconsImg{
        width: 16vw;
        height: 100%;
    }
    .logscardData{
        display: flex;
        flex-direction: row;
        align-items: center;
        background: #FFFFFF;
        cursor: pointer;
        padding: 1vw;
        justify-content: start;
        height: 100%;
        
    }
    
    .city{
        font-size: 2.8vw;
    }
    .address{
        font-size: 2.5vw;
       
    }



}

 @media all and (min-width: 430px) and (max-width: 480px) {
    .iconsImg{
        width: 12vw;
        height: 100%;
    }
    .logscardData{
        display: flex;
        flex-direction: row;
        align-items: center;
        background: #FFFFFF;
        cursor: pointer;
        padding: 1vw;
        justify-content: start;
        height: 100%;
        
    }
    
    .city{
        font-size: 2.5vw;
    }
    .address{
        font-size: 2vw;
       
    }


}

/* reports button for Mobile View to Tablet */
@media all and (min-width: 481px) and (max-width: 599px) {

    .iconsImg{
        width: 12vw;
        height: 100%;
    }
    .logscardData{
        display: flex;
        flex-direction: row;
        align-items: center;
        background: #FFFFFF;
        cursor: pointer;
        padding: 1vw;
        justify-content: start;
        height: 100%;
        
    }
    
    .city{
        font-size: 1.75vw;
    }
    .address{
        font-size: 1.5vw;
       
    }


}

@media all and (min-width: 600px) and (max-width: 768px) { 
    .iconsImg{
        width: 8vw;
    }
    .city{
        font-size: 1.75vw;
    }
    .address{
        font-size: 1.5vw;
       
    }
}



/* reports button Tablet View */
@media all and (min-width: 769px) and (max-width: 960px) { 

    .iconsImg{
        width: 7vw;
      
    }
    .logscardData{
        display: flex;
        flex-direction: row;
        align-items: center;
        background: #FFFFFF;
        cursor: pointer;
        justify-content: start;
        height: 100%;
        
    }
    
    .city{
        font-size: 1.5vw;
    }
    .address{
        font-size: 1.3vw;
       
    }
    

}
