
*{
    margin:0;
    padding: 0;
    font-family: sans-serif;

   
}

.mainGrid{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 0.2fr  2fr ;
    grid-template-rows:0.55fr 2fr;
    grid-template-areas: 
    "nav categories"
    "nav card ";
    gap: 1em;
      
}
.mobilesearchwrapper{
    display: none;
}


.MapCards{
    display: flex;
    flex-direction: column;
    grid-area: card;
    padding: 45px 50px 10px;
    overflow-y: scroll;
    box-sizing: content-box;
    
}

.navContainer{
    display: flex;
    grid-area: nav;
    justify-content: center;
    align-items: center;

}

.navCont{
    display: grid;
    width: 5vw;
    height: 40vh;
    overflow: hidden;

}

.categorieswrap{
    grid-area: categories;
}

.categoriesContainer{
display: flex;
flex-direction: column;
align-items: center ;


}
.topwrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height:5em;
    padding-right: 55px;
    justify-content: center;
}
.searchBarCon{
    display: flex;
    flex-direction:row;
    align-items: center;
    gap: 10px;
    background: #fefeff;
    width:17.5em;
    height: 2em;
    border-radius:0.8em;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);   
}

input:focus {
    outline: 0;
    
    
  }
input{
    display: flex;
    align-items: flex-end;
    height: 2em;
    width: 17em;
    border-color: white;
    border-radius: 10px;
    border-style: hidden;
    flex: none;
    order: 0;
    flex-grow: 0;
        
}
.searchIcon{
  
    height: 1.5em;
    width: 1.5em;
    
}

.actLogContainer{
   
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5em;
    padding-bottom: 1em;
    width: 70vw;

}

    .mobile-btn-logs-container{
      display:none;
    }
    .mobile-wrapper{
    display: none;
    }

@media all and (max-width: 480px) {
    .mainGrid{
        display: grid;
        width: 100vw;
        height: 200vh;
        grid-template-columns:1fr;
        grid-template-rows:0.11fr 1fr 0.1fr;
        grid-template-areas: 
        "categories"
        "card"
        "nav";
        gap: 1em;
          
    }
    .categorieswrap{
        grid-area: categories;
        position: fixed;
        overflow-x: scroll;
        background-color: #F0F0F9;
        height: fit-content;
       
    }
    .navContainer{
        display: flex;
        flex-direction: column;

    
    }
    .topwrapper{
        display: none;  
    }
    .mobiletopwrapper{
        overflow: scroll;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height:5em;
        justify-content: center;
    }
    .mobilesearchIcon{
  
        height: 1.5em;
        width: 1.5em;
        
    }
    .backIcon{
        height: 1.3em;
        width: 1.3em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mobilesearchBarCon{
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: center;
        gap: 8px;
        background: #fefeff;
        width:20em;
        height: 2em;
        border-radius:0.8em;
        box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);   
    }

    .logsbuttons{
    overflow-x: scroll;
    }
    .MapCards{
        display: flex;
        flex-direction: column;
        grid-area: card;
        padding: 10px 50px 2px;
        overflow-x: 
        scroll;
        box-sizing: content-box;
        
    }   
    .mobilesearchwrapper{
        display: flex;
        
        
    }

}